* {
 margin: 0px;
 padding: 0px;
}

body {
  background-image: url(../assets/images/fondo1.webp);
  background-size: contain;
}

.bg-transparent.scrolled {
background:#303135 !important;
filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7)); 
}

.drop { 
filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.7)); 
}

.btn-primary {
  color: white !important;
  background-color: #E76D13 !important;
}


footer{ 
margin-top: 200px;
background-color: #141414;
filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
.imgFooter2 {
 position:relative;
 transition: all 1s;
}

.imgFooter2:hover {
transform: scale(1.2);
}
}

.footer-copyright {
  font-size: 11px;
}
.color
{
font-size: 12px;
color: white;
}
.color:hover {
color: #F07F2B;
}

.h1s {
letter-spacing: 2.5px;
font-size: 60px;
text-shadow:5px 5px 4px #000000;
margin-top: 100px;
animation-duration: 2s;
animation-name: aparecer;
}

@keyframes aparecer {
0% {
 opacity: 0;
  }
  100% {
    opacity: 1;
   }
}

	
h4 {
font-size: 25px;
letter-spacing: 2px;
}

h3 {
letter-spacing: 4px;
}

h2 {
font-size: 40px;
letter-spacing: 4px;
}

.parrafoMain {
font-size: 20px;
letter-spacing: 3px;
line-height: 2.5;
}

.colorIndexH3 
{
  color: #F98340;
}

.spanIndex {
  font-size: 28px;
}

.spanServicios {
  font-size: 25px;
}

.imgContactoRedes {
transition: all 1s;
}

.imgContactoRedes:hover {
transform: scale(1.2);
}

.parrafoNosotros {
letter-spacing: 1px;
line-height: 2;
}


.nosotros {
margin-top: 50px;
}

.articleNosotros {
font-size: 20px;
}

li {
letter-spacing: 3px;
}

.link {
text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
 transition: all 1s;
}
.link:hover {
transform: scale(1.2);
}

.redesSocialesContacto {
  font-size: 40px;
  letter-spacing: 0.5rem;
}



@media only screen and (max-width: 768px){

  .h1s {
margin-top: 50px;
font-size: 30px;
line-height: 50px;
}
 
h4 {
font-size: 18px;
}

.tituloH3 {
font-size: 15px;
line-height: 20px;
}

.tituloH2 {
font-size: 20px;
line-height: 30px;
}

.parrafoMain {
font-size: 10px;
}

imgNosotros{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.videoPortfolio {
 height: 50%; 
}


.contacto {
  margin-top: 100px;
  margin-bottom: 100px;
  }

.contactoMq {
  margin-bottom: 100px;
}

#tituloRedes {
font-size: 20px;
}

.imgContactoRedes {
transition: all 1s;
margin-bottom: 100px;
width: 40px;
height: 40px;
}

.parrafoNosotros {
font-size: 12px;
}

.articleNosotros {
font-size: 15px;
}

.color
{
font-size: 10px;
}

.spanIndex {
  font-size: 12px;
}

.spanServicios {
  font-size: 12px;
}

.redesSocialesContacto {
  font-size: 20px;
  letter-spacing: 2px;
}

}